// Base
@use "base/reset";

// Components
@use "components/gamecard";
@use 'components/gamelist';
@use "components/addgamemodal";
@use "components/searchinput";

// Abstracts
@use "abstracts/tipography";

// Themes
@import "themes/dark";

* {
	font-family: #{$--theme-font};
	user-select: none;
	border: none;
}

body {
	background-color: #{$--clr-black};

	#root {
		min-height: 100vh;
	}

	main {
		min-height: 100vh;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}
