@import "../themes/dark";

.gamelist {
	position: relative;
	width: 100%;

	&__statusline {
		position: sticky;
		top: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 4px 32px;
		background-color: #{$--clr-grey};

		&__orientation {
			display: flex;
			flex-direction: row;
			gap: 8px;

			&__item {
				height: 20px;
				width: 20px;
				background-color: #{$--clr-black};
				padding: 4px;
				border-radius: 4px;
				cursor: pointer;

				&--active {
					height: 20px;
					width: 20px;
					background-color: #{$--clr-primary};
					padding: 4px;
					border-radius: 4px;
					cursor: pointer;
				}

				&__icon {
					height: 100%;
					width: 100%;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		padding: 30px 32px;
		flex-wrap: wrap;
		gap: 22px;

		&--listmode {
			display: flex;
			flex-direction: row;
			padding: 30px 0;
			flex-wrap: wrap;
		}
	}

	&__addbutton.open {
		transform: rotate(45deg);
	}

	&__addbutton {
		cursor: pointer;
		background: transparent;
		position: fixed;
		background-color: #{$--clr-primary};
		padding: 10px 12px;
		border-radius: 50%;
		border: 0;
		right: 4%;
		bottom: 6%;
		transition: .1s ease-in-out;

		svg {
			height: 30px;

			path {
				fill: white;
			}
		}
	}


}
