@import "../themes/dark";

.gamelist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 22px;
	position: relative;
	height: 100%;

	&__addbutton.open {
		transform: rotate(45deg);
	}

	&__addbutton {
		cursor: pointer;
		background: transparent;
		position: fixed;
		background-color: #{$--clr-primary};
		padding: 10px 12px;
		border-radius: 50%;
		border: 0;
		right: 4%;
		bottom: 6%;
		transition: .1s ease-in-out;

		svg {
			height: 30px;

			path {
				fill: white;
			}
		}
	}


}
